.color-bg--cherry {
    background-color: var(--color-cherry);
}

.color-bg--cherry-light {
    background-color: var(--color-cherry-light);
}

.color-bg--white {
    background-color: var(--color-white);
}

.color-bg--black {
    background-color: var(--color-black);
}